<nav>
    <div class="site-title">
      <a href="/"><h1 style="font-family: sans-serif; color: blue;">Stack Overflow Lite</h1></a>
    </div>
    <ul>
      <li><a href="/">Questions</a></li>
      <li><a href="/profile/Questions">Profile</a></li>
      <li><a href="/questions/addQuestion">Ask a Question</a></li>
    </ul>
  </nav>